<style>
       
        body{
            background-image: url('https://png.pngtree.com/background/20210711/original/pngtree-hd-blue-technology-pattern-background-jpg-picture-image_1131901.jpg');
            /* background-repeat: no-repeat; */
            background-size: cover;
        }
        .abc{
            background-color: white;
            padding: 3vw;
            margin: 4.5vw;
            border-radius: 20%;
            text-align: center;
            font-size: 1.5vw;
            font-family: 'Merriweather', serif;
        }
        .abc img{
            border-radius: 100%;
            width: 12vw;
            border: 0.25vw solid rgb(252, 3, 219);
        }
        .abc p{
            padding: 0.05vh;
            
            
        }
        .qwerty{
            margin-top: 0.5vh;
            margin-left: 0.5vh;
            margin-right: 0.5vh;
            margin-bottom: 6vh;
        }
        .hello table{
            border: 0.2vw solid black;
            margin-bottom: 4vw;
        }
        .hello td{
            border: 0.2vw solid black;
            text-align: center;
        }
        .hello th{
            border: 0.2vw solid black;
            text-align: center;
        }
        input{
            width: 15vw;
            height: 1.5vw;
        }
        ::placeholder{
            font-size: 1.5vw;
            text-align: center;
        }
        .abcd{
            height: 6vw;
        }
        .ok{
            padding-left: 0vw;
        }
        .ok2{
            padding-left: 1vw;
        }
        .ok1{
            padding-left: 4vw;
        }
        


    </style>